@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s;
}

:root {
    /* font-size */
    --largest-font: 120px;
    --larger-font: 70px;
    --large-font: 34px;
    --text-large-font: 22px;
    --text-font: 16px;
    /* color */
    --text-color: #000;
    --hover-color: #886e6e;
    --dark-color: #095000;
    --bg-color: #b3ffa2;
    --bg-color-header: #b3ffa2d3;
    --header-change-color: #b8eba6d7;
}

.container{
    width:100%;
    min-height: 100vh;
    padding-left:8% ; 
    padding-right: 3%; 
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    /* background: #e7dfe6; */
}

.logo
{
    max-width: 50px;
    cursor: pointer;
    margin: 20px ;
    border-radius: 50%;
}

.menu-icon{
    max-width: 30px;
    cursor: pointer;
    margin-right: 30px;
    display: none;
}
nav {
    flex: 1;
    text-align: right;
    /* background: #e6f3e3; */
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #095000;
    font-size: 22px;
    font-weight: 540;
}
nav ul li a:hover{
    color: hsl(137, 46%, 57%);
}

/* ---row----- */
.row{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    color: #095000;
}
.col1 h2 {
    font-size: 54px;
}
.col1 h2 span{
    color: #5fc47b;
} 
.col1 h3 { 
    font-size: 40px;
}

.col1 p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.col1::after{
    content: '';
    width: 10px;
    height: 95%;
    background: linear-gradient(#5fc47b , #095000);
    position: absolute;
    left: -40px;
    top: 8px ;
}
.col2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col2 .bg{
    width: 80%;
}

@media only screen and (max-width:860px){
    nav ul {
        width: 100%;
        background: linear-gradient(#5fc47b , #095000); 
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display:block ;
    }
    #menuList{
        overflow: hidden;
        transition:0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0 ;
    }
    .col1{
        flex-basis: 100%;
        margin-left: 10px;
        width: 80%;
    }
    .col1 h2{
        font-size: 35px;
    }
    .col1 h3{
        font-size: 20px;
    }
    .col1 {
        font-size: 10px;
    }
    .col2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col2 .bg{
        width: 77%;

    }
}

/* ----------ABOUT-------------- */
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
   
}
 .about h2 {
    margin: 0.4em;
    font-size: 54px;
    color: #095000;
 }
 
 .about .content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
 }
 .about .content p{
    text-align: left;
    display: flex;
    flex-direction: column;
 }
 .about .content p span {
    font-size: 34px;
    color: #43e356;
 }
 .about img{
    width: 25em;
    margin: 1.3em 2em;
 }
 #action {
    border-radius: 30% 70% 65% 35% / 43% 39% 61% 57%;
 }

 @media only screen and (max-width:860px){
    .about h2{
        font-size: 34px;
    }
    .about .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about .content p{
        text-align: center;
        display: flex;
        flex-direction: column;
     }

     .about .content p span {
        font-size: 24px;
        color: #43e356;
     }
     .about img{
        width: 13em;
     }

 }
 /* -------------PRODUCT------------- */
/* product */
.product {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background:var(--bg-color) ; */
}
.product h2{
    font-size: 54px;
    color: #095000;
}
.product p{
    padding: 10px;
}
/* swiper */
.swiper{
    width: 750px;
    height: 385px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.product .swiper-slide h2 
{
    margin-top: 70px;
    font-size: 20px;
    color: #000;
    font-family: "Nunito", sans-serif;
    transform: translateY(150px);
    z-index: 90;
}
.swiper-slide {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius:10px;
    background: #efcd85;
    box-shadow: 4px 4px 10px var(--header-change-color);
}
.swiper-slide::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    clip-path: circle(65% at 50% 0%);
    background: radial-gradient(50% 100%, #f2bfbf, #e89e9e);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 66;
    transition: all 0.5s;
}
.swiper-slide:hover::before {
    clip-path: circle(70% at 50% 0%);
}
.swiper-slide i{
    position: absolute;
    transform: translate(70px, 10px);
    margin: 12px;
    font-size: var(--text-large-font);
    cursor: pointer;
    z-index: 99;
}

.swiper-slide img {
    position: relative;
    width: 150px;
    z-index: 100;
    transform: translate(-100px);
    transition: all 0.5s;
}

.swiper-slide img[src="media/spinach.png"] {
    transform: translateY(-50px);
    width: 130px;
}
.swiper-slide img[src="media/juice.png"] {
    transform: translateY(-50px);
    width: 130px;
    height: 160px ;
}
.swiper-slide img[src="media/carrot.png"] {
    transform: translateY(-50px);
    width: 130px;

}
.swiper-slide img[src="media/honey.png"] {
    transform: translateY(-50px);
    width: 130px;

}
.swiper-slide img[src="media/mixt.png"] {
    transform: translateY(-50px);
    width: 130px;

}

@media only screen and (max-width:860px){
    .product h2{
        font-size: 34px;
       
    }
    .swiper{
        width: 500px;
        height: 285px;
        margin: 10px;
    }

    .product .swiper-slide h2 
    {
        margin-top: 50px;
        font-size: 15px;
        color: #000;
        transform: translateY(130px);
        z-index: 90;
    }

    .swiper-slide {
        position: relative;
        width: 200px;
        height: 300px;       
    }
    .swiper-slide i{
        position: absolute;
        transform: translate(30px, 7px);
        margin: 8px;
        
    }

    .swiper-slide img {
        width: 100px;
        transform: translate(-120px); 
    }
    .swiper-slide img[src="media/spinach.png"] {
        transform: translateY(-50px);
        width: 100px;
        
    }
    .swiper-slide img[src="media/juice.png"] {
        transform: translateY(-60px);
        width: 100px;
        height: 140px ;
    }
    .swiper-slide img[src="media/carrot.png"] {
        transform: translateY(-75px);
        width: 100px;
    
    }
    .swiper-slide img[src="media/honey.png"] {
        transform: translateY(-60px);
        width: 100px;
    
    }
    .swiper-slide img[src="media/mixt.png"] {
        transform: translateY(-60px);
        width: 100px;
    
    }

    
}
/* ------footer------------ */

.container-footer {
    max-width:1000px ;
    height: auto;
    /* background: red; */
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #095000;
    padding: 50px 0;
    height: 80%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.row .footer-col ul{
    list-style: none;
}


.footer-col h4{
    font-size: 18px ;
    color: #fff;
    text-transform: capitalize;
    margin-bottom:30px ;
    font-weight: 500;
    position: relative;
    background: #095000;

}
.footer-col h4:hover{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #43e356;
    width: 50px;
}

.row .footer-col ul li:not(:last-clild) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    columns: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;   
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #43e356;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #43e386;
    background-color: #fff;
}

/* responsive */
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;

    }
}

@media(max-width:574px){
    .footer-col{
        width: 100%;

    }
}



