*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(90deg ,   #095000 0%,#16730a 30%, #b3ffa2 30%, #b3ffa2d3 100%);
}

.container{
    width:100%;
    min-height: 100vh;
    /* padding-left:8% ; 
    padding-right: 3%;  */
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
     background: #e7dfe6; 
}

.logo
{
    max-width: 50px;
    cursor: pointer;
    margin: 20px ;
    border-radius: 50%;
}

.menu-icon{
    max-width: 30px;
    cursor: pointer;
    margin-right: 30px;
    display: none;
}
nav {
    flex: 1;
    text-align: right;
    /* background: #e6f3e3; */
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #095000;
    font-size: 16px;
    font-weight: 500;
}
nav ul li a:hover{
    color: hsl(137, 46%, 57%);
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;

}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUs .title h2{
    color: #000;
    font-weight: 500;
}

.form
{
    grid-area: form;
}

.info
{
    grid-area: info;
}

.map
{
    grid-area: map;
}
.contact
{
    padding:40px ;
    background: #fff;
    box-shadow:0 5px 35px rgba(0, 0, 0, 0.15);
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3
{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.formBox
{
    position: relative;
    width: 100%;
}
.row , .row50
{
    display:flex ;
    gap:20px ;
}

.inputBox
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox{
     width: 100%;
}

.inputBox span {
    color: #53a44c;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #095000;
}
.inputBox textarea
{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #095000;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;  
}

.inputBox input[type="submit "] {
    background: #095000;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placeholder{
    color:#642929
}
/* ---info */
.info{
    background: #095000;
}
.info h3 {
    color: #fff;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span {
    width: 30px;
    min-height: 30px;
    /* height: 30px   ; */
    color: #fff;
    background: #5fc47b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #fff; 
    font-size: 1.1em;
}
.info .infoBox div a{
    color: #fff; 
    text-decoration: none;
    font-size: 1.1em;

}

.sci {
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}

.sci li a{
    /* color: #fff; */
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover {
    color: #fff;
}
.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}



@media only screen and (max-width:860px){
    body{
        background: #b3ffa2;
    }
    nav ul {
        width: 100%;
        background: linear-gradient(#5fc47b , #095000); 
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display:block ;
    }
    #menuList{
        overflow: hidden;
        transition:0.5s;
    }

    .contactUs {
        padding: 20px;
    }

    .box {
        
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .row, .row50 {
        display: flex;
        grid-area: 0;
        flex-direction: column;
    }

    .inputBox {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }
    .map {
        min-height: 300px;
        padding: 0px;
    }
}